@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  background-image: linear-gradient(to top, #1e88e5, #4dd0e1);
  background-size: cover;
  width: 100vw;
}
